<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <footer>
    <div class="container">
        <div class="sec aboutus">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, facilis aliquid? Itaque impedit quae ipsum quisquam eum, quis vel quibusdam!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt aliquam quibusdam autem consectetur nostrum necessitatibus
                 dignissimos voluptatum maxime voluptatibus beatae.
            </p>
            <ul class="sci">
                <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
             </ul>
        </div>
        
    </div>
</footer>
</body>
</html> -->
<div style="background-color: #211a30; color:white;">
    
    <br><br><br>
    <div class="container">
<div class="row" >
    <div class="col-sm-3">
        <h2 style="color: #fcba03; font-family: 'Times New Roman', Times, serif;">Contact Us</h2><br>
        <p class="contact">3-12-21/1,Ram Nagar,Armoor</p>
        <p class="contact">Nizamabad,Telangana </p>
        <p class="contact">+91 891023108963</p>
        <p class="contact">priyanka321@gmail.com</p>
    </div>
    <div class="col-sm-3">
        <h2 style="color: #fcba03; font-family: 'Times New Roman', Times, serif;">Quick links</h2><br>
        <p class="link"><a>Home</a></p>
        <p class="link"><a>Aboutus</a></p>
        <p class="link"><a>Moments</a></p>
        <p class="link"><a>Contact Us</a></p>
    </div>
    <div class="col-sm-3">
        <h2 style="color: #fcba03; font-family: 'Times New Roman', Times, serif;">Social Media</h2><br>
        <div class ="social-media">
            <ul class="list-unstyled">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus-g"></i></a></li>


            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <h3 style="color: #fcba03; font-family: 'Times New Roman', Times, serif;">Subcribe more info</h3><br>
        <input type="text" name="subcribe" placeholder="Enter Gmail" class="form-control"><button class="btn btn-success">Subcribe</button>
    </div>
</div>
</div>
<hr>
<div class="container">
    <p style="text-align: center;">Copyright@2021 All right reserved</p>

</div>
<br><br><br>
</div>
