<div style="background-color: gold; display: flex;">
  <div>
  <b><h3 style="padding-left: 20px;padding-top: 10px;">Baby girl fashion</h3></b>
  </div>
  <div>
<img class="rounded mx-auto d-block" alt="..."src="./assets/winter/img15.jpg" style="width: 60%;">
</div>
</div>
<!-- <div class="carousel" data-flickity='{"autoPlay":true} '>
  <img  class="carousel-cell"src="./assets/rainwear/img9.jpg" >
  <img  class="carousel-cell"src="./assets/winter/img12.jpg" >
  <img  class="carousel-cell"src="./assets/winter/img13.jpg" >
  <img  class="carousel-cell"src="./assets/winter/img14.jpg" >
  <img  class="carousel-cell"src="./assets/winter/img15.jpg" >
  <img  class="carousel-cell"src="./assets/winter/img17.jpg" >
</div> -->
<a routerLink="/shopall">
<div class="row" style="padding-left: 90px;">
  <div>
    <img src="./assets/shopall/img2.jpg" alt="">
  </div>
  <div>
    <p style="padding-left: 30px;padding-top: 35px;">Shop All</p>
  </div>
</div>
</a>
<hr>
<a routerLink="/shopbyoccation">
<div class="row" style="padding-left: 90px;">
  <div style="width: 80px;height: 80px;background:#124E67;display: flex;justify-content: center;align-items: center;margin-right: 10px;text-decoration: none;border-radius: 4px;">
  <i class="fa fa-gift" aria-hidden="true"></i>
  </div>
  <div>
    <p style="padding-left: 30px;padding-top: 35px;">Shop by occation</p>
  </div>
</div>
</a>
<hr>
<a routerLink="/jeansscarts">
<div class="row" style="padding-left: 90px;">
  <div>
    <img src="./assets/jeans,scarts/img1.jpg" alt="">
  </div>
  <div>
    <p style="padding-left: 30px;padding-top: 35px;">Jeans,scarts</p>
  </div>
</div>
</a>
<hr>
<a routerLink="/rainwear">
<div class="row" style="padding-left: 90px;">
  <div>
    <img src="./assets/rainwear/img1.jpg" alt="">
  </div>
  <div>
    <p style="padding-left: 30px;padding-top: 35px;">Rain wear</p>
  </div>
</div>
</a>
<hr>
<a routerLink="/footwear">
<div class="row" style="padding-left: 90px;">
  <div>
    <img src="./assets/fooot/img1.jpg" alt="">
  </div>
  <div>
    <p style="padding-left: 30px;padding-top: 35px;">Foot wear</p>
  </div>
</div>
</a>
<hr>
<a routerLink="/winterwear">
<div class="row" style="padding-left: 90px;">
  <div>
    <img src="./assets/winter/img1.jpg" alt="">
  </div>
  <div>
    <p style="padding-left: 30px;padding-top: 35px;">Winter wear</p>
  </div>
</div>
</a>
<hr>


