<div style="background-color: gold; display: flex;">
  <div>
  <b><h3 style="padding-left: 20px;padding-top: 10px;">Fun & Learning</h3></b>
  </div>
  <div>
<img class="rounded mx-auto d-block" alt="..."src="./assets/toys/img1.jpg" style="width: 50%;height: 90px;">
</div>
</div>
<br>
<div class="card-group " style="margin: 20px;">
  <div class="card border-secondary">
      <img class="card-img-top" src="./assets/learning/img2.jpg" alt="Card image cap" style="height: 220px;">
    <div class="card-body" style="height: 120px;">
      <h5 class="card-title"> Wooden Calculation Shelf | Abacus Counting Addition Subtraction</h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold " >Rs.799</p>
    </div>
  </div>
  <div class="card border-secondary">
      <img class="card-img-top" src="./assets/learning/img3.jpg" alt="Card image cap" style="height: 220px;">
    <div class="card-body" style="height: 120px;">
      <h5 class="card-title">
        Polyester mat Multicolored Aqua Magic Water Drawing Mat Toy-Best Educational Toy & Xmas Birthday Gifts for Children Age 2 Years and Above 1xDrawing Mat</h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold">Rs.700</p>
    </div>
  </div>
  <div class="card border-secondary">
      <img class="card-img-top" src="./assets/learning/img4.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 120px;">
      <h5 class="card-title">
        itoys Princess 5 in 1 Writing Board for Kids with Activity Sheets</h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold">Rs.1000</p>
    </div>
  </div>
</div>

<div class="card-group " style="margin: 20px;">
  <div class="card border-secondary">
      <img class="card-img-top" src="./assets/learning/img5.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 120px;">
      <h5 class="card-title">
        ButterflyEduFields 4in1 Fun Alphabet Words with 50 Pictures, 144 Letter Magnets (Capital & Small)</h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold " >Rs.555</p>
    </div>
  </div>
  <div class="card border-secondary">
    <img class="card-img-top" src="./assets/learning/img6.jpg" alt="Card image cap" style="height: 220px;">
    <div class="card-body" style="height: 120px;">
      <h5 class="card-title">

        Mattel Pictionary - The Game of Quick Draw
      </h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold">Rs.849</p>
    </div>
  </div>
  <div class="card border-secondary">
    <img class="card-img-top" src="./assets/learning/img8.jpg" alt="Card image cap" style="height: 220px;">
    <div class="card-body" style="height: 120px;">
      <h5 class="card-title">
        Super Toy Educational Computer Abc And 123 Learning Kids Laptop With LED Display And Music (Multi-Color)  
      </h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold">Rs.750</p>
    </div>
  </div>
</div>