<div style="background-color:#CADF90; display: flex;">
    <div>
      <b><h3 style="padding-left: 20px;padding-top: 10px;">Shop by footwear</h3></b>
    </div>
    <div>
     <img class="rounded mx-auto d-block" alt="..." src="./assets/babyfoot/img5.jpg" style="width: 15%;">
    </div>
</div>

<div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babyfoot/b6.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Hopscotch Running Boys Mesh Velcro T-3 Applique Athletic Shoes in Black Color</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.799</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babyfoot/b5.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">TRASE BF 81-019 Boys Running Shoes</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.1000</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babyfoot/b4.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Neska Moda Pack of 2 Unisex Baby Booties
        </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.549</p>
      </div>
    </div>
  </div>

  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babyfoot/b3.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Skymate Men's & Boys' Sneaker</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.1500</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/babyfoot/b2.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Hopscotch Fanyi Baby Boys and Baby Girls Mesh Lace Up LED Sneakers in White Color</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.1049</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/babyfoot/b1.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Skoodo Unisex-Child Sports Shoes
            
        </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.1750</p>
      </div>
    </div>
  </div>