<!-- <div class="container">
    <h2>Shop all baby girl styles</h2>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
           <div class="image-container">
             <img src=".././assets/moments/h1.jpg" class="image" >
             <p>Lorem ipsum dolor sit amet.</p>
             <div class="img-text">
                <h2>Priyanka</h2>
                <h3>Software rr</h3>
                <p>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </p>
            <p>Veryprofissonal </p>
            </div>

           </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
             <div class="image-container">
               <img src=".././assets/moments/h2.jpg"class="image"  >
             </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-12">
             <div class="image-container">
               <img src=".././assets/moments/h3.jpg" class="image" >
             </div>
           </div>
     </div>
</div> -->
<div style="background-color:#CADF90; display: flex;">
  <div>
    <b><h3 style="padding-left: 20px;padding-top: 10px;">Shop All cloths</h3></b>
  </div>
  <div>
   <img class="rounded mx-auto d-block" alt="..." src="./assets/babygirl/img2.jpg" style="width: 45%;">
  </div>
</div>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-container">
                      <img src="./assets/shopall/img3.jpg" class="image" >
                      <b><p>Cartoon Printed Princess Baby Dresses</p></b>
                      <div class="img-text">
                          <h3>₹500</h3>
                          <p style="color:#FF9F00 ;">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </p>
                      </div>
                    </div>
                </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-container">
                      <img src="./assets/shopall/img6.jpg" class="image" >
                      <b><p>Summer dress</p></b>
                      <div class="img-text">
                        <h3>₹500</h3>
                        <p style="color: #FF9F00;">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                       </p>
                     </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12" >
                    <div class="image-container">
                      <img src="./assets/shopall/img7.jpg" class="image" >
                      <b><p>Baby dress</p></b>
                      <div class="img-text">
                        <h3>₹500</h3>
                        <p style="color:#FF9F00">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                       </p>
                     </div>
                    </div>
                  </div>
            </div>


            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-container">
                      <img src="./assets/shopall/img17.jpg" class="image" >
                      <b><p>Cotton dress</p></b>
                      <div class="img-text">
                          <h3>₹500</h3>
                          <p style="color: #FF9F00;">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </p>
                      </div>
                    </div>
                </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-container">
                      <img src="./assets/shopall/img16.jpg" class="image" >
                      <b><p>Kids wear dress</p></b>
                      <div class="img-text">
                        <h3>₹1000</h3>
                        <p style="color: #FF9F00;">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                       </p>
                     </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12" >
                    <div class="image-container">
                      <img src="./assets/shopall/img14.jpg" class="image" >
                      <b><p>Summer baby girl flower dress</p></b>
                      <div class="img-text">
                        <h3>₹600</h3>
                        <p style="color: #FF9F00;">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                       </p>
                     </div>
                    </div>
                  </div>
            </div>



            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-container">
                      <img src="./assets/shopall/img10.jpg" class="image" >
                      <b><p>New  born baby face mask</p></b>
                      <div class="img-text ">
                          <h3>₹250</h3>
                          <p style="color: #FF9F00;">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </p>
                      </div>
                    </div>
                </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-container">
                      <img src="./assets/shopall/img12.jpg" class="image" >
                      <b><p>Baby girl butterfly dress</p></b>
                      <div class="img-text">
                        <h3>₹500</h3>
                        <p style="color: #FF9F00;">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                       </p>
                     </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12" >
                    <div class="image-container">
                      <img src="./assets/shopall/img13.jpg" class="image" >
                      <b><p>Baby girl birthday dress</p></b>
                      <div class="img-text">
                        <h3>₹900</h3>
                        <p style="color: #FF9F00;">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                       </p>
                     </div>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</div>