<div style="background-color:#CADF90; display: flex;">
    <div>
      <b><h3 style="padding-left: 20px;padding-top: 10px;">Shop by boy cloths</h3></b>
    </div>
    <div>
     <img class="rounded mx-auto d-block" alt="..." src="./assets/shopall/b9.jpg" style="width: 15%;">
    </div>
</div>

<div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/shopall/b1.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Hopscotch Boys White Solid T-Shirt in White Color</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.799</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/shopall/b3.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Cartoon patch upper soft leather</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.700</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/shopall/b4.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title text-center">baby boy cloths</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.549</p>
      </div>
    </div>
  </div>

  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/shopall/b5.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title text-center">t-shirt</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.555</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/shopall/b6.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title"> Kid Baby Boy Outfits Clothes Mustache Printed T-Shirt Tops+ Pant
            </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.849</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/shopall/b7.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class=" text-center card-title">t-shirt
            
        </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.800</p>
      </div>
    </div>
  </div>