<div style="background-color: gold; display: flex;">
  <div>
  <b><h3 style="padding-left: 20px;padding-top: 10px;">Baby Boy fashion</h3></b>
  </div>
  <div>
<img class="rounded mx-auto d-block" alt="..."src="./assets/shopall/b16.jpg" style="width: 40%;">
</div>
</div>

<!-- <div class="carousel" data-flickity='{"autoPlay":true} '>
  <img  class="carousel-cell"src="./assets/shopall/b8.jpg" >
  <img  class="carousel-cell"src="./assets/shopall/b9.jpg" >
  <img  class="carousel-cell"src="./assets/shopall/b10.jpg" >
  <img  class="carousel-cell"src="./assets/shopall/b11.jpg" >
  <img  class="carousel-cell"src="./assets/shopall/b12.jpg" >
  <img  class="carousel-cell"src="./assets/shopall/b15.jpg" >
</div> -->
<br>
<a routerLink="/shopallb">
<div class="row" style="padding-left: 90px;">
  <div>
    <img src="./assets/shopall/b14.jpg" alt="">
  </div>
  <div>
    <p style="padding-left: 30px;padding-top: 35px;">Shop All</p>
  </div>
</div>
</a>
<hr>

<a routerLink="/footwearb">
<div class="row" style="padding-left: 90px;">
  <div>
    <img src="./assets/babyfoot/b3.jpg" alt="">
  </div>
  <div>
    <p style="padding-left: 30px;padding-top: 35px;">Foot wear</p>
  </div>
</div>
</a>
<hr>



