<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="testimonial-carousel section-padding">
            <div class="single-testi">
                <div class="img-area">
                    <img  class="rounded-circle" src=".././assets/images/logo.jpg" alt="Logo" >
                </div>
                <div class="img-text">
                    <h2>Priyanka</h2>
                    <h3>Software rr</h3>
                    <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
                <p>Veryprofissonal </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container">
       <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="image-container">
                <img src="./assets/moments/h1.jpg" class="image" >
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="image-container">
                  <img src="./assets/moments/h2.jpg"class="image"  >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="image-container">
                  <img src="./assets/moments/h3.jpg" class="image" >
                </div>
              </div>
        </div>


        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
               <div class="image-container">
                 <img src="./assets/moments/img8.jpg" class="image"  >
               </div>
             </div>
             <div class="col-lg-4 col-md-4 col-sm-12">
                 <div class="image-container">
                   <img src="./assets/moments/im2.jpg" class="image"  >
                 </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12">
                 <div class="image-container">
                   <img src="./assets/moments/h55.jpg" class="image"  >
                 </div>
               </div>
         </div>
         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
               <div class="image-container">
                 <img src="./assets/moments/u1.jpg" class="image" >
               </div>
             </div>
             <div class="col-lg-4 col-md-4 col-sm-12">
                 <div class="image-container">
                   <img src="./assets/moments/u2.jpg"class="image"  >
                 </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12">
                 <div class="image-container">
                   <img src="./assets/moments/u3.jpg" class="image" >
                 </div>
               </div>
         </div>
 
 
         <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="image-container">
                  <img src="./assets/moments/u4.jpg" class="image"  >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="image-container">
                    <img src="./assets/moments/u5.jpg" class="image"  >
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="image-container">
                    <img src="./assets/moments/u6.jpg" class="image"  >
                  </div>
                </div>
          </div>
   </div>
</body>
</html>