<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <h1 style="margin: 10px;">Categories</h1>
  <div id="main">
    <a routerLink="/babygirl">
      <div>
        <p style="text-align: center;">

          <b>Baby girl Fashion</b><br>
          (0- 1yr)
        </p>
      </div>
    </a>
    <div style="padding-left: 700px;">
      <img src="./assets/categories/baby.jpg" alt="">
    </div>

  </div>
    <div id="main">
    <div>
      <p style="text-align: center;">
        <a routerLink="/boyfashion"><b>Boys Fashion</b></a><br>
        (1+ yrs)
      </p>
    </div>
    <div style="margin-left: 728px;">
      <img src="./assets/categories/babyboy.jpg" alt="">
    </div>

  </div>
  <div id="main">
    <div>
      <p style="text-align: center;">
        <a routerLink="/bodysafety"><b>Body&Safety</b></a><br>
        Mom care
      </p>
    </div>
    <div style="margin-left: 728px;">
      <img src="./assets/categories/bath.jpg" alt="">
    </div>

  </div>
  <div id="main">
    <div>
      <p style="text-align: center;">
        <a routerLink="/funlearning"><b>Fun&Learning</b></a><br>
        Toys,books
      </p>
    </div>
    <div style="margin-left: 728px;">
      <img src="./assets/categories/toy2.jpg" alt="">
    </div>

  </div>

  <div id="main">
    <div>
      <p style="text-align: center;">
        <a routerLink="/foodfeeding"><b>Food&Feeding</b></a><br>
        Babyfood
      </p>
    </div>
    <div style="margin-left: 710px;">
      <img src="./assets/categories/kitchen.jpg" alt="" style="margin: left 20%;">
    </div>

  </div>


  <div id="main">
    <div>
      <p style="text-align: center;">
        <a routerLink="/homeliving"><b>Home&Living</b> </a><br>
        Decor,Furnishing
      </p>
    </div>
    <div style="margin-left: 700px;">
      <img src="./assets/categories/home.jpg" alt="">
    </div>

  </div>


</body>

</html>