<div style="background-color:#CADF90; display: flex;">
    <div>
      <b><h3 style="padding-left: 20px;padding-top: 10px;">Shop by Winterwear cloths</h3></b>
    </div>
    <div>
     <img class="rounded mx-auto d-block" alt="..." src="./assets/winter/img3.jpg" style="width: 25%;">
    </div>
</div>

<div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/winter/img4.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Baby Winterwear dresses</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.899</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/winter/img5.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Cartoon patch upper soft leather</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.900</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/winter/img6.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">
            0-3 Months Baby Girl ,Toddler Kids Baby Girl Winter Jacket  Animal Cartoon Hooded Outfit
            Visit
            </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.549</p>
      </div>
    </div>
  </div>

  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/winter/img7.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Baby Girls Fur Fleece Pageant Coat Winter Warm Jacket </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.855</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/winter/img9.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 80px;">
        <h5 class="card-title">Toddler Kids Baby Gril Boy Cute Ear Zipper Solid Thick Hooded Coat Warm Outwear</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.849</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/winter/img11.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 80px;">
        <h5 class="card-title">
         Gucci Baby Girl Down Coat (6/9m) Light Pink: Infant And Toddler Coats: Clothing
         </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.750</p>
      </div>
    </div>
  </div>
  