<div style="background-color:#CADF90; display: flex;">

    <div>
    <b><h3 style="padding-left: 20px;padding-top: 10px;">Kitchen items</h3></b>
    </div>
    <div>
  <img class="rounded mx-auto d-block" alt="..."src="./assets/kitchen/img1.jpg" style="width: 40%;">
  </div>
  </div>
  <br>
<table >
    <tr>
      <td>
        <img src="./assets/kitchen/img6.jpg" alt="">
        <div style="text-align: center;">
        <b><p>Food storage plastic box </p></b>
                      <div class="img-text">
                        <h3>₹800</h3>
                        <p style="color: #FF9F00;">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                       </p>
                     </div>
        </div>
        </td>
      <td>
        <img src="./assets/kitchen/img8.jpg" alt="">
        <div style="text-align: center;">
            <b><p>food storage container</p></b>
                          <div class="img-text">
                            <h3>₹300</h3>
                            <p style="color: #FF9F00;">
                             <i class="fa fa-star" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                           </p>
                         </div>
            </div>
        </td>
      <td>
        <img src="./assets/kitchen/img9.jpg" alt="">
        <div style="text-align: center;">
            <b><p>all item storage box </p></b>
                          <div class="img-text">
                            <h3>₹1200</h3>
                            <p style="color: #FF9F00;">
                             <i class="fa fa-star" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                           </p>
                         </div>
            </div>
        </td>
        <td>
            <img src="./assets/kitchen/img10.jpg" alt="">
            <div style="text-align: center;">
                <b><p>Plastic container </p></b>
                              <div class="img-text">
                                <h3>₹500</h3>
                                <p style="color: #FF9F00;">
                                 <i class="fa fa-star" aria-hidden="true"></i>
                                 <i class="fa fa-star" aria-hidden="true"></i>
                                 <i class="fa fa-star" aria-hidden="true"></i>
                                 <i class="fa fa-star" aria-hidden="true"></i>
                                 <i class="fa fa-star" aria-hidden="true"></i>
                               </p>
                             </div>
                </div>
            </td>
    </tr>
    
  </table>
  

  <div class="card-group " style="margin: 20px;">
    <div class="card ">
        <img class="card-img-top" src="./assets/kitchen/b2.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Milton Kool Seal 7 Insulated Water Jug 6 Ltrs, 1 pc, Blue </h5>
      </div>
      <div class="card-footer ">
        <p class="text-center font-weight-bold  " >Rs.350</p>
      </div>
    </div>
    <div class="card ">
      <img class="card-img-top" src="./assets/kitchen/b4.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 100px;">
        <h5 class="card-title"> Solimo Plastic Water Bottle Set with Flip Cap ,1 Litre ,(6 pieces, Multicolour, Dotted pattern)
        </h5>
      </div>
      <div class="card-footer">
        <p class="text-center font-weight-bold">Rs.559</p>
      </div>
    </div>
    <div class="card ">
      <img class="card-img-top" src="./assets/kitchen/b5.jpg" alt="Card image cap" style="height: 220px; width: 435px;">
      <div class="card-body" style="height: 100px;">
        <h5 class="card-title"> Plastic Water Bottle With Straw, Pack Of 1 Tumbler, 1 Straw, Multicolour</h5>
      </div>
      <div class="card-footer">
        <p class="text-center font-weight-bold">Rs.559</p>
      </div>
    </div>
  </div>