<div style="background-color:#CADF90; display: flex;">
  <div>
    <b><h3 style="padding-left: 20px;padding-top: 10px;">Shop by home decoration items </h3></b>
  </div>
  <div>
   <img class="rounded mx-auto d-block" alt="..." src="./assets/decoration/img3.jpg" style="width: 45%;">
  </div>
</div>

<div class="card-group " style="margin: 20px;">
  <div class="card border-secondary">
      <img class="card-img-top" src="./assets/decoration/img6.jpg" alt="Card image cap" style="height: 220px;">
    <div class="card-body" style="height: 130px;">
      <h5 class="card-title">Bankura Traditional Art Center Wooden handicrafts Farmar Showpiece -Table Decoration and Wall Mounted Home Decor Toy for Kids 15 cm Length</h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold " >Rs.150</p>
    </div>
  </div>
  <div class="card border-secondary">
      <img class="card-img-top" src="./assets/decoration/img7.jpg" alt="Card image cap" style="height: 220px;">
    <div class="card-body" style="height: 130px;">
      <h5 class="card-title">
        JAAMSO ROYALS 'Multicolor 3D Butterflies' Wall Sticker
      </h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold">Rs.200</p>
    </div>
  </div>
  <div class="card border-secondary">
      <img class="card-img-top" src="./assets/decoration/img11.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 130px;">
      <h5 class="card-title">
        Decals Design 'Happy Cute Elephant Monkey Cartoon Animals' Wall Sticker (PVC Vinyl, 60 cm x 90 cm, Multicolour) (6900048)

          </h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold">Rs.549</p>
    </div>
  </div>
</div>

<div class="card-group " style="margin: 20px;">
  <div class="card border-secondary">
      <img class="card-img-top" src="./assets/decoration/img8.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 130px;">
      <h5 class="card-title">Mummy Da Dhaba Quote Printed Wall Hanging Board(Rectangle Shape) | Designer Door Hanging| Wall Hanging for Kids</h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold " >Rs.855</p>
    </div>
  </div>
  <div class="card border-secondary">
    <img class="card-img-top" src="./assets/decoration/img10.jpg" alt="Card image cap" style="height: 220px;">
    <div class="card-body" style="height: 130px;">
      <h5 class="card-title"> Handmade Thread Crafts Dreamcatchers for Home,Rooms, Wall Hanging Decoration,Baby,Kids (Violet)
      </h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold">Rs.849</p>
    </div>
  </div>
  <div class="card border-secondary">
    <img class="card-img-top" src="./assets/decoration/img9.jpg" alt="Card image cap" style="height: 220px;">
    <div class="card-body" style="height: 130px;">
      <h5 class="card-title">
        Handmade Feather Crafts Dreamcatchers with Lace for Home, Rooms,  Wall Hanging Decoration      </h5>
    </div>
    <div class="card-footer border-secondary bg-warning">
      <p class="text-center font-weight-bold">Rs.500</p>
    </div>
  </div>
</div>
