<div style="background-color:#CADF90; display: flex;">
    <div>
      <b><h3 style="padding-left: 20px;padding-top: 10px;">Shop by footwear</h3></b>
    </div>
    <div>
     <img class="rounded mx-auto d-block" alt="..." src="./assets/babyfoot/img5.jpg" style="width: 15%;">
    </div>
</div>

<div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babyfoot/img4.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Baby sandals</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.799</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babyfoot/img7.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Cartoon patch upper soft leather</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.700</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babyfoot/img8.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Baby Girl shoes</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.549</p>
      </div>
    </div>
  </div>

  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babyfoot/img9.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Clothing shoes</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.555</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/babyfoot/img11.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">kids shoes</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.849</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/babyfoot/img10.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Ladies rainbow color slippers
            
        </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.750</p>
      </div>
    </div>
  </div>