<div style="background-color: gold; display: flex;">
    <div>
    <b><h3 style="padding-left: 20px;padding-top: 10px;">Body & safety</h3></b>
    </div>
    <div>
  <img class="rounded mx-auto d-block" alt=""src="./assets/babycare/img8.jpg" style="width: 15%;">
  </div>
  </div>
  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babycare/img1.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">
          Johnson's Baby Lotion 500ml and Baby Cream 50g
        </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.360</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babycare/img2.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Himalaya Baby Powder (400g)</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.700</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babycare/img3.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">New Born Combo Waterproof Bed Sheet Coral + Royal Blue + Peach 3 Small Size (50cm X 70cm)</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.299</p>
      </div>
    </div>
  </div>

  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/babycare/img6.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 70px;">
        <h5 class="card-title">AD Vitamin Baby Massage Oil - Lavender Fragrance - For Growth and Vigour of Babies - 200 ML</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.555</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/babycare/img5.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">
          Baby Dove Rich Moisture Baby Wash, Tear Free, No Parabens, No Sulphates, No Phthalates, 400 ml</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.849</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/babycare/img7.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">
          Softsens Baby Massage Oil with Vitamin E & Olive Extracts, 200Ml 
        </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.386</p>
      </div>
    </div>
  </div>