<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('.././assets/home/back.jpg');background-size: cover;-webkit-background-size:cover">
    <div class="wrapper">
        <div class="header-area">
            <h2>Signup</h2>
            <p>follow to our social profile</p>
        </div>
        <div class="social-area">
            <i class="fa fa-dribbble"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-twitter"></i>
        </div>
        <div class="form-area">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Enter user name">
            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="Enter Email Address">
            <i class="fa fa-key"></i>
            <input type="password" placeholder="Enter Password">
            <i class="fa fa-phone"></i>
            <input type="text" placeholder="Enter Phone Number">
            <input type="checkbox" >
            <p class="terms">I will Obey Terms and Conditions</p>
            <input type="submit" value="Signup">
        </div>
    </div>
</body>
</html> -->

<!-- split two -->
<!-- <div class="row no-gutters">
    <div class="col no-gutters">
        <div class="leftside"></div>
    </div>
    <div class="col no-gutters">
        <div class="rightside"></div>
    </div>
</div> -->
<!-- <div class="parent-div">
    <div class="child-div">
        <section class="form my-2 mx-1">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <img src=".././assets/home/login2.jpg" alt="" class="img-fluid mt-5">
    
                    </div>
                    <div class="col-lg-7">
                        
                        <div class="form-area">
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="Enter user name">
                            <i class="fa fa-envelope"></i>
                            <input type="email" placeholder="Enter Email Address">
                            <i class="fa fa-key"></i>
                            <input type="password" placeholder="Enter Password">
                            <i class="fa fa-phone"></i>
                            <input type="text" placeholder="Enter Phone Number">
                            <input type="checkbox" >
                            <p class="terms">I will Obey Terms and Conditions</p>
                            <input type="submit" value="Signup">
                        </form>
                    </div>
                </div>
            </div>
        </section>   
    </div>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div class="parent-div" style="background-image: url('./assets/home/back.jpg');background-size: cover;-webkit-background-size:cover">
        <div class="child-div" style="text-align: center;">
            <div class="container">
                
                        <header class="myHed text-center">
                            <p>SIGNUP</p>
                        </header>
                        <div class="form-group">
                            <div class="form-group my-0">
                                <label class="my-0">
                            <i class="fa fa-user"></i>
                            <input type="Username" class="myInput" placeholder="Enter user name" >
                                </label>
                            </div>
                            <div class="form-group my-0" >
                                <label class="my-0">
                            <i class="fa fa-envelope"></i>
                            <input type="email" class="myInput" placeholder="Enter Email Address">
                        </label>
                            </div>
                            <div class="form-group my-0">
                                <label class="my-0">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="password"  class="myInput" placeholder="Enter Password">
                        </label>
                            </div>
                            
                            <div class="form-group my-0">
                                <label class="my-0">
                            <i class="fa fa-phone"></i>
                            <input type="phone no" class="myInput" placeholder="Enter Phone Number">
                            </label>
                        </div>
                                <label  class="check-1">
                            <input type="checkbox" checked >
                            I will Obey Terms and Conditions
                        </label>
                            <div>
                                <label>
                            <input  style="width: 250px;
                            border-radius: 25px;
                            background-color: #0084ff;font-weight: 700;color:#fff; cursor: pointer;" type="button" class="form-control" value="Signup">
                                </label>
                            </div>
                        </div>

            </div>
        </div>
    </div>
</body>
</html>
