<div style="background-color:wheat; display: flex;">
    <div>
    <b><h3 style="padding-left: 20px;padding-top: 10px;">food and feeding</h3></b>
    </div>
    <div>
    <img class="rounded mx-auto d-block" alt="..."src="./assets/food/img8.jpg" style="width: 30%;">
    </div>
  </div>
  <br>

  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/food/img7.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 150px;">
        <h5 class="card-title">MOM Cares Baby Teether & Nibbler for Feeding Fruits and Vegetables with 3 Extra Mesh Premium Soft Silicon Food Grade Silicon Ideal for 4 Months & up</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.379</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/food/img5.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 150px;">
        <h5 class="card-title">Baby Food Feeder||Fruit Feeder Pacifier||Fruit Nibbler-Best Toy Fruit Teether||Soft Silicone Fruit Teether for Babies</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.250</p>
      </div>
    </div>
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/food/img6.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 150px;">
        <h5 class="card-title">WAHHSON Baby Cerelac Rice Paste Milk Cereal Bottle Food Feeder & Baby Fruit Nibbler & Silicone Teether for 6 to 12 Months Baby </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.549</p>
      </div>
    </div>
  </div>

  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
        <img class="card-img-top" src="./assets/food/img1.jpg" alt="Card image cap" style="height: 220px;">
        <div class="card-body" style="height: 100px;">
        <h5 class="card-title">Pristine 1st Bites Stage 3 Organic Baby Cereal with Milk Ragi Strawberry and Apple Powder (10 Months to 24 Months) 300 g
        </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.250</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/food/img2.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 100px;">
        <h5 class="card-title">Nestlé CERELAC Baby Cereal with Milk, Multigrain & Fruits – From 12 Months, 300g BIB Pack</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.254</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/food/img4.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 100px;">
        <h5 class="card-title">
          Nestlé NESTUM Baby Cereal – From 8 to 12 months, Rice Vegetables, 300g Bag-in-Box Pack  
        </h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.160</p>
      </div>
    </div>
  </div>