<div style="background-color:#CADF90; display: flex;">
    <div>
      <b><h3 style="padding-left: 20px;padding-top: 10px;">Shop by occation</h3></b>
    </div>
    <div>
     <img class="rounded mx-auto d-block" alt="..."src="./assets/shopby occation/img3.jpg" style="width: 10%;">
    </div>
</div>

<div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/shopby occation/img9.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Girls Peach-Coloured Self Design Fit and Flare Dress</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.599</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/shopby occation/img4.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Girls Maroon Solid Fit and Flare Dress</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.700</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/shopby occation/img6.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Girls Purple Embellished Fit and Flare Dress</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.549</p>
      </div>
    </div>
  </div>

  <div class="card-group " style="margin: 20px;">
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/shopby occation/img10.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Girls Yellow and Purple Dress</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold " >Rs.555</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/shopby occation/img15.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Girls Brown Embellished Fit and Flare Dress</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.749</p>
      </div>
    </div>
    <div class="card border-secondary">
      <img class="card-img-top" src="./assets/shopby occation/img11.jpg" alt="Card image cap" style="height: 220px;">
      <div class="card-body" style="height: 70px;">
        <h5 class="card-title">Girls Yellow & Pink Printed Fit and Flare Dress</h5>
      </div>
      <div class="card-footer border-secondary bg-warning">
        <p class="text-center font-weight-bold">Rs.949</p>
      </div>
    </div>
  </div>