
 <!-- <div class="row">
    <div class="col-sm-4" style="background-color: skyblue;">
    <img 
    style="width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
  margin-right: auto;
  border-radius: 50%;"

    
    src=".././assets/images/logo.jpg" alt="">
    <h1>Lorem ipsum dolor sit amet.</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nobis?</p>
     <input type="button" value="clickme" >
    </div>
    <div class="col-sm-4" style="background-color: gold;">
    <img
     style="width: 100px;
     height: 100px;
     display: block;
     overflow: hidden;
     border-radius: 50%;
     background-color: burlywood;"
    src=".././assets/images/logo.jpg" alt="">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nobis?</p>
    <input type="button" value="clickme" >
    </div>
    <div class="col-sm-4" style="background-color: violet;">
    <img  
    style="border: 1px solid red;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    background-color: rgb(221, 190, 190);"
    src=".././assets/images/logo.jpg" alt="">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nobis?</p>
    <input type="button" value="clickme" >
    </div>
    </div>


    <div class="row" style="height: 200px;width: 400px; align-content: center;">
        <div class="col-sm-6">
            <div class="a">
              <img src=".././assets/home/baby girl.jpg" alt="">
              <p style="text-align: center;">
                Baby girl<br>
                0-1yr
              </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="b">
                <img src=".././assets/home/baby2.jpg" alt="">
                <p style="text-align: center;">
                  Baby girl<br>
                  0-1yr
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="c">
                <img src=".././assets/home/baby2.jpg" alt="">
                <p style="text-align: center;">
                  Baby girl<br>
                  0-1yr
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="b">
                <img src=".././assets/home/baby2.jpg" alt="">
                <p style="text-align: center;">
                  Baby girl<br>
                  0-1yr
                </p>
            </div>
        </div>
    </div> -->


<!-- <div class="container">
  <div class="row">
    <div class="col-sm">1</div>
    <div class="col-sm">2</div>
    <div class="col-sm">3</div>
  </div>
  <div class="row"></div>
  <div class="col-sm">1</div>
    <div class="col-sm">2</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="container">
  <div class="row gy-5">
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
</div>

   




 


</body>
</html> -->
<img src="./assets/home/of2.jpg" height="300" width="100%">
<br>

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" >
  <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>

  </ol>
<div class="carousel-inner">
<div class="carousel-item active" data-interval="1000" >
  <div class="overlay-image" style="background-image: url(./assets/home/u1.jpg);"></div>
  <div class="carousel-caption">
    <h1 style="color: black;">KIDS CLOTHES & DRESSES FOR GIRLS & BOYS</h1>
  </div>
</div>
<div class="carousel-item" data-interval="1200">
  <div class="overlay-image" style="background-image: url(./assets/home/k3.jpg);"></div>

  <div class="carousel-caption">
    <h1 style="color: black;">KIDS CLOTHES & DRESSES FOR GIRLS & BOYS</h1>
  </div>
</div>
<div class="carousel-item" data-interval="1200">
  <div class="overlay-image" style="background-image: url(./assets/home/k4.jpg);"></div>
  <div class="carousel-caption">
    <h1 style="color:black"><b>KIDS CLOTHES & DRESSES FOR GIRLS & BOYS</b></h1>
  </div>
</div>
<div class="carousel-item" data-interval="1200">
  <div class="overlay-image" style="background-image: url(./assets/home/k2.jpg);"></div>
  <div class="carousel-caption">
    <h1 style="color:black">KIDS CLOTHES & DRESSES FOR GIRLS & BOYS</h1>
  </div>
</div>
</div>
<a routerLink="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
  <span class="sr-only" >Previous</span>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
</a>
<a routerLink="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
  <span class="sr-only" >Previous</span>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
</a>
<a routerLink="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
  <span class="sr-only" >Previous</span>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
</a>
</div>
<br>
<!-- <div class="carousel" data-flickity='{"autoPlay":true} '>
  <img  class="carousel-cell"src="./assets/home/g1.jpg" >
  <img  class="carousel-cell"src="./assets/home/g5.jpg" >
  <img  class="carousel-cell"src="./assets/home/d5.jpg" >
  <img  class="carousel-cell"src="./assets/home/d6.jpg" >
  <img  class="carousel-cell"src="./assets/home/g4.jpg" >
  <img  class="carousel-cell"src="./assets/home/d8.jpg" >
</div> -->


<hr>
<h3><b>Shop for baby's</b></h3>

<div class="row">
  <div class="col">
    <img  src="./assets/home/ba1.jpg " >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Ethnic wear</p>
  </div>
  <div class="col">
    <img  src="./assets/home/ba2.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >T-Shirts</p>

  </div>
  <div class="col">
    <img  src="./assets/home/ba3.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Clothing Sets
 
       </p>

  </div>
  <div class="col">
    <img  src="./assets/home/ba4.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Ethnic Wear
      
       </p>

  </div>
  <div class="col">
    <img  src="./assets/home/ba5.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Jackets & Blazers
    </p>

  </div>
  <div class="col">
    <img  src="./assets/home/ba6.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Sleepwear</p>

  </div>
  <div class="col">
    <img  src="./assets/home/ba8.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Jeans & Trousers</p>

  </div>
  
  
</div>
<br>




<h3><b>Shop for girl's</b></h3>
<div class="row">
  <div class="col">
    <img  src="./assets/home/h1.jpg " >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Tops & T-shirts</p>

  </div>
  <div class="col">
    <img  src="./assets/home/h2.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Dress & Frocks</p>

  </div>
  <div class="col">
    <img  src="./assets/home/h3.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Lehenga cholis
 
       </p>

  </div>
  <div class="col">
    <img  src="./assets/home/h4.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Salwar suits & Kurtas
      
       </p>

  </div>
  <div class="col">
    <img  src="./assets/home/h5.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Jackets & Blazers</p>

  </div>
  <div class="col">
    <img  src="./assets/home/h6.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Sleepwear</p>

  </div>
  <div class="col">
    <img  src="./assets/home/h7.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Short</p>

  </div>
  
  
</div>
<br>


<h3><b>Shop for boys </b></h3>
<div class="row">
  <div class="col">
    <img  src="./assets/home/b4.jpg " >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Pyjamas</p>

  </div>
  <div class="col">
    <img  src="./assets/home/b2.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Tops& Tees</p>

  </div>
  <div class="col">
    <img  src="./assets/home/b3.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Jeans & Trousers
 
       </p>

  </div>
  <div class="col">
    <img  src="./assets/home/b1.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Ethnic Wear
      
       </p>

  </div>
  <div class="col">
    <img  src="./assets/home/b5.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;">Jackets & Sweatshirts
       
    </p>

  </div>
  <div class="col">
    <img  src="./assets/home/b7.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >Sleepwear</p>

  </div>
  <div class="col">
    <img  src="./assets/home/b8.jpg" >
    <p class="text-center " style="font-family: 'Times New Roman', Times, serif;" >tops</p>

  </div>
  
  
</div>
<br>


<br>









