<div style="background-color: gold; display: flex;">
    <div>
    <b><h3 style="padding-left: 20px;padding-top: 10px;">Home & living</h3></b>
    </div>
    <div>
  <img class="rounded  d-block "  alt="..."src="./assets/decoration/img12.jpg" style="width: 50%;">
  </div>
  </div>
  <br>
  <br>
  <a routerLink="/homedecoration">
  <div class="row" style="padding-left: 90px;">
    <div>
      <img src="./assets/decoration/img2.jpg" alt="">
    </div>
    <div>
      <p style="padding-left: 30px;padding-top: 35px;">Home</p>
    </div>
  </div>
</a>
  <hr>
  <a routerLink="/kitchen">
  <div class="row" style="padding-left: 90px;">
    <div>
      <img src="./assets/kitchen/img1.jpg" alt="">
    </div>
    <div>
      <p style="padding-left: 30px;padding-top: 35px;">Kitchen</p>
    </div>
  </div>
</a>
  <hr>